/* LAYOUT */
* {
    margin:0;
    padding:0;
}
body {
    margin:1em auto;
    padding:0;
    min-width:20em;
    max-width:50em
}
.widewrapper {
    clear:both;
    min-width:100%;
}
#middle {
    float:left;
    min-width:100%;
}
#page {
    margin-left:10em; /* #menu width */
    padding-left:1em;
    position:relative;
}
#footer {
    padding:1em;
}


/* MENU SIDEBAR */
#menu {
    float:left;
    width:10em;
}
#menu ul {
    list-style-type:none;
    margin-left:0.5em;
}
#menu ul a {
    display:block;
    padding:0.4em;
}
#menu ul a:hover, .catalogue tr:hover * {
    color:navy;
    background-color:#eef;
}


/* BOOK PAGE */
.library_card {
    display:table;
}
.library_card .item {
    display:table-row;
}
.library_card .item .label,
.library_card .item .value {
    display:table-cell;
}
.library_card .item .label {
    font-weight:bold;
    padding-right:.4em;
}
.library_card .item .value {
    padding-bottom:.5em;
}
img.thumbnail {
    float:left;
    margin: 0 1em 1em 0;
    max-width: 10em;
}
a.edit_book {
    position: absolute;
    right: 0;
    top: 0;
}

/* BOOK PREVIEW */
.book_preview {
    margin-bottom:1em;
}
.book_preview > div {
}
.book_preview .thumb {
    float:left;
}
.book_preview .thumb img {
    max-width:6em;
}
.book_preview .description {
    margin-left: 6.5em;
}
.book_preview .description .label {
    float:left;
}
.book_preview .info_line,
.book_preview .info_line * {
    color:rgb(90,90,90);
}
.book_preview .info_line {
    font-size: 85%;
    padding-left: 1em;
}
.book_preview .tag {
    color:navy;
    font-style:italic;
}

/* BOOK LIST */
.page_nav {
    width:100%;
    height:3em;
    position:relative;
    text-align:center;
}
.page_nav a:hover {
    color:navy;
    background-color:#eef;
    text-decoration:none;
}
.page_nav .next,
.page_nav .prev {
    position:absolute;
    top:1em;
    display:block;   
    width:45%;
}
.page_nav .next {
    right:0;
}
.page_nav .prev {
    left:0;
}

/* USER INPUT */
.user_input {
    width:100%;
}
.user_input .field {
    width:100%;
    max-width:100%;
    display:block;
    position:relative;
    overflow:hidden;
}
.user_input .field input[type="text"],
.user_input .field input[type="password"],
.user_input .field input[type="submit"],
.user_input .field textarea,
.user_input .field select {
    box-sizing: border-box;
    border: #999999 solid 1px;
    background-color:white;
    padding:0.3em;
    margin:0.15em 0;
    width:100%;
    color:#333333;
}
.user_input textarea {
    height:10em;
    resize:none;
}
.user_input .field input:focus,
.user_input .field textarea:focus,
.user_input .field select:focus {
    outline: none;
    border-color: navy;
}
.user_input .invalid {
    border-color: #c00000!important;
    color: #c00000!important;
}
.center {
    text-align:center;
}
.first_of_3 {
    float:left;
}
.second_of_3 {
    margin-left:auto;
    margin-right:auto;
}
.third_of_3 {
    float:right;
}
.user_input .first_of_3,
.user_input .second_of_3,
.user_input .third_of_3 {
    max-width:33%;
}
.user_input .plus {
    padding:0.3em;
    margin:0.15em 0;
    position:absolute;
    top:0px;
    right:0px;
}
.user_input .field.one_line * {
    min-width:0!important;
}
.user_input .series_type {
    max-width:6em;

}
.user_input .series_name {
    overflow:hidden;
    float:right!important;
    width:calc(100% - 6.3em)!important;
}
.user_input .number {
    min-width:2.5em;
    max-width:6em;
}
.user_input .numbers {
    margin-left:6.3em;
    display:none;
}
.user_input .file.field {
    padding:0.35em 0;
    vertical-align:middle;
}
.user_input a.file {
    padding-left:.4em;
}
.user_input .file.field label {
    float:right;
}
.user_input .thumbnail_previous {
    display:block;
    position:relative;
}
.user_input .thumbnail_previous a {
    position:absolute;
    top:calc(50% - 2em / 2);
    line-height:2em;
}
.user_input .thumbnail_previous img {
    height:15em;
}
.thumbnail-select input[type="radio"] {
    margin:0;
    padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
    display:none;
}
.thumbnail-select .thumbnail-radio {
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:10.5em;
    height:14em;
    text-align:right;
    -webkit-filter: opacity(.7);
       -moz-filter: opacity(.7);
            filter: opacity(.7);
}
.thumbnail-radio:hover{
    -webkit-filter: opacity(.9);
       -moz-filter: opacity(.9);
            filter: opacity(.9);
}
.thumbnail-select input:active + .thumbnail-radio,
.thumbnail-select input:checked + .thumbnail-radio {
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.thumbnail-select .thumbnail-size {
    color: white;
    font-size: 60%;
    font-weight: bold;
    background: grey;
    margin: 0.5em;
    padding: 0.25em;
}


/* APPLICATION MESSAGES */
.info p {
    margin-bottom:0.7em;
}
.info .highlight {
    font-weight: bold;
}
.info.error {
    border: solid 1px darkred;
    background-color: #ffeeee;
    color: darkred;
    font-size: 70%;
    padding: .75em .2em;
    margin-bottom: 1em;
}


/* CLEAR FIX */
.clearfix {
    overflow:auto;
}
.clearfix::after {
    clear:both;
}


/* FORMATTING */
* {
    color:#393939;
    font-family:"Tahoma","Segoe UI","Arial",sans-serif;
    font-size:100%;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
}
h1 {
    color:#000000;
    font-size:125%;
    font-weight:bold;
    margin-bottom:0.5em;
}
#header h1 {
    font-size:1.6em;
}
p {
    margin-bottom:0.5em;
}
#footer * {
    font-size:0.8em;
    text-align:right;
}
#menu * {
    font-size:0.9em;
}
a:hover {
    text-decoration:underline;
    text-decoration-style:dotted;
    -webkit-text-decoration-style:dotted;
}


/* PRINTING */
@media print {
    .no_print {
        display:none!important;
        height:0!important;
    }
    thead {
        display:table-header-group;
    }
    body {
        margin:0!important;
    }
    #page {
        margin:0!important;
        padding:0!important;
    }
}


/* BROWSER-SPECIFIC HACKS */
input::-webkit-calendar-picker-indicator {
    /* datalist down arrow in chrome */
    display:none;
}